* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

/* Style for Sign In Page */

.app-logo-signin {
  margin-top: 5vh;
  margin-bottom: 15vh;
  width: 250px;
  height: auto;
}

.app-logo-signup {
  margin-bottom: 15vh;
  width: 250px;
  height: auto;
}

/* Style for main app */

body {
  background-color: #fafafa;
}

/* Style for Nav bar */

.nav-bar {
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  height: 74px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: auto;
}

.search-box {
  position: absolute;
  left: 40%;
  right: 40%;
}

.nav-logo-and-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9%;
}

.app-logo {
  width: 140px;
  margin: 7px;
  padding: auto;
}

.menu .icon-item {
  width: 30px;
  height: auto;
  margin: 5px;
}

.search-box input {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  padding: 5px 20px;
  width: 200px;
  height: auto;
}

/*Style for Navbar mobile*/

@media only screen and (max-width: 600px) {
  .menu .icon-item {
    width: 40px;
    height: auto;
  }

  .menu {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    margin: 0;
  }

  .nav-logo-and-search {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    width: 100%;
    top: 0;
    position: fixed;
    margin-top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .app-logo {
    width: 100px;
    margin: 7px;
    padding: auto;
  }

  .search-box input {
    margin: 10px 40px 10px 10px;
    width: 150px;
    height: auto;
    padding: auto;
  }
}

/*Style for Navbar mobile for Galaxy Fold*/

@media only screen and (max-width: 300px) {
  .menu .icon-item {
    width: 40px;
    height: auto;
  }

  .menu {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    margin: 0;
  }

  .nav-logo-and-search {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    width: 100%;
    top: 0;
    position: fixed;
    margin-top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .app-logo {
    width: 80px;
    margin: 7px;
    padding: auto;
  }

  .search-box input {
    margin: 10px 30px 10px 10px;
    width: 100px;
    height: auto;
    padding: auto;
  }
}

/*Style for making the navbar and the main part of the page not overlap*/
.content {
  padding-top: 80px;
}

/* Style for Post */

.post {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  margin: 25px auto;
  max-width: 500px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post-avatar {
  margin: 0 12px 0 5px;
  background: rgb(247, 151, 80);
  background: linear-gradient(90deg,
      rgba(247, 151, 80, 1) 0%,
      rgba(199, 53, 141, 1) 100%);
}

.post-username {
  font-size: 14px;
  font-weight: 600;
}

.post-location {
  font-size: 10px;
  color: gray;
  padding-top: 2px;
}

.post-image {
  width: 100%;
  border-top: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
}

.post-body {
  padding: 10px 20px 15px 20px;
}

.post-description {
  font-weight: lighter;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px 0;
}

.post-comment {
  font-weight: lighter;
  font-size: 10px;
}

.post-icons {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.post-like-number {
  font-size: 10px;
  padding: 5px 0;
}

/* Styles for Post Upload Form */

.post-upload-container {
  margin: auto;
  max-width: 500px;
  margin-top: 30px;
}

.post-upload-form {
  display: flex;
  flex-direction: column;
  background: white;
  border: 2px solid #fdcfde;
  border-radius: 3px;
  padding: 20px 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.103);
}

.MuiOutlinedInput-root {
  margin-bottom: 15px;
  padding: 0 0;
}

.post-form-title {
  font-family: inherit;
  text-align: center;
  margin-bottom: 20px;
}

.post_commentBox {
  display: flex;
}

.post_input {
  flex: 1;
  border: none;
  padding-top: 5px;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post_button {
  flex: 0;
  border: none;
  height: 15%;
}

/* .exit {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.exit:hover,
.exit:focus {
    color: black;
    cursor: pointer;
}  */

/* Post Comments */

.post_comment {
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px 0;
  margin-left: 7.5px;
  display: flex;
  margin: 0 30px 0 5px;
}

.post-upload-image {
  font-family: inherit;
  padding: 15px 15px;
  margin-bottom: 15px;
  color: gray;
  background: rgb(240, 240, 240);
  border-radius: 3px;
  cursor: pointer;
}

progress {
  border-radius: 2px;
  width: 100%;
  height: 5px;
}

progress::-webkit-progress-bar {
  background-color: rgba(247, 128, 128, 0);
  border-radius: 0 0 2px 2px;
}

progress::-webkit-progress-value {
  background-color: rgb(247, 128, 128);
  border-radius: 0 0 2px 2px;
}

/* Follow and Unfollow */

.follow-users {
  position: fixed;
  top: 58px;
  right: 10%;
  margin: 25px auto;
  max-width: 500px;
  padding: 10px 20px 10px 20px;
}


.follow-align{
  position: absolute;
  right: 0;
  display: flex;
}

.follow-button {
  text-transform: unset !important;
}

.user-description {
  font-weight: 300;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
}

.user-headline {
  font-size: 20px;
  font-weight: 600;
}

.user-info {
  display: flex;
  padding: 5px;
  width: 200px;
}

.user-right {
  display: flex;
}

.user-username {
  padding-top: 8px;
}

.user-avatar {
  margin: 0 12px 0 5px;
  background: rgb(247, 151, 80);
  background: linear-gradient(90deg,
      rgba(247, 151, 80, 1) 0%,
      rgba(199, 53, 141, 1) 100%);
}

/* Mobile View for User Follow List */
@media only screen and (max-width: 600px) {
  .follow-users {
  position: static;
  top: 0;
}
.follow-button {
  right: 50px;
}

}

/* PopUp Post*/

.post-popup {
  background-color: white;
  border-radius: 2px;
  max-width: 75%;
  min-height: 50%;
  max-height: 85%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.post-popup-image {
  width: 100%;
  max-height: 83vmin;
  object-fit: contain;
}

/* Like Popup*/

.like-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
}

.popup-like-username{
  margin: 20px auto;
}

.like-people {
  cursor: pointer;
}